<html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<link rel = "stylesheet" href = "{{url_for('static', filename='stylesheets/style_wait.css')}}">

<head>
	<title>Object Detection in Floorplan Images</title>
	
</head>
<body>
	<div class = "container">

		<script type=text/javascript>
				$(function() {
					$.getJSON('/predict', function(data) {});
				});
		</script>

		<div class = "banner">
			<div class = "app-text">
				<h1> Please wait...</h1>
				<p>Your floorplan is being processed.</p>
			
			</div>
			<div class = "app-picture">
				<img src = "{{ url_for('static', filename='images/Living-AI-2.png') }}">
			</div>
		</div>
	</div>




</body>

</html>